@model PieAddEditViewModel

<h2>Create a new pie</h2>

<form asp-controller="PieManagement" asp-action="AddPie" method="post" class="form-horizontal" role="form">
    <h5>Enter the pie details below</h5>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Pie.name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Pie.name" class="form-control" />
            <span asp-validation-for="Pie.name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Pie.short_description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Pie.short_description" class="form-control" />
            <span asp-validation-for="Pie.short_description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Pie.long_description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Pie.long_description" class="form-control" />
            <span asp-validation-for="Pie.long_description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Pie.price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Pie.price" class="form-control" />
            <span asp-validation-for="Pie.price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Pie.image_thumbnail_url" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Pie.image_thumbnail_url" class="form-control" />
            <span asp-validation-for="Pie.image_thumbnail_url" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Pie.image_url" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Pie.image_url" class="form-control" />
            <span asp-validation-for="Pie.image_url" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="ml-3 mr-auto">
            <input type="checkbox" asp-for="Pie.is_in_stock" />
            <label asp-for="Pie.is_in_stock"></label>
            <span asp-validation-for="Pie.is_in_stock" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="ml-3 mr-auto">
            <input type="checkbox" asp-for="Pie.is_pie_of_the_week" />
            <label asp-for="Pie.is_pie_of_the_week"></label>
            <span asp-validation-for="Pie.is_pie_of_the_week" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Categories" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="CategoryId" class="form-control"
                    asp-items="Model.Categories"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create pie" />
        </div>
    </div>
</form>