@using Microsoft.AspNetCore.Identity
@using PieShop.Auth
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-sm-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @UserManager.GetUserName(User) !
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user-cog"></i>&nbsp;Account Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="padding:0!important; ">
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post" id="logoutForm">
                    <input type="submit" value="Log Out" style="background:none!important;border:none; text-align:left; padding-left:25px; display: block; width:100%;">
                </form>
            </a>
        </div>
    </li>
}
else
{
    <li class="nav-item"><a asp-area="Identity" asp-page="/Account/Register" class="nav-link">Register</a></li>
    <li class="nav-item"><a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Login</a></li>
}

