@model HomeViewModel

<h2><strong>Pies of the Week</strong></h2>
<h4>Our weekly selection - just for you!</h4>
<br />
<div class="row justify-content-md-center">

    @foreach (var pie in Model.PiesOfTheWeek)
    {
        @await Html.PartialAsync("_PieCard", pie)
    }

</div>

