@model HomeViewModel

<div class="text-center">
    <h1 class="font-pacifico">Welcome To Pie Shop !</h1>
    <br />

    <h3><strong>Pies of the Week</strong></h3>
    <h4>Our weekly selection - just for you!</h4>
    <br />
</div>


<div class="row justify-content-md-center">

    @foreach (var pie in Model.PiesOfTheWeek)
    {
        @await Html.PartialAsync("_PieCard", pie)
    }

</div>

