body {
    padding-bottom: 20px;
    background-color: #f5f7fb;
}

.body-content{
    padding-left: 5px;
    padding-right: 5px;
}

.card-margin {
    margin-top: 20px;
    margin-right: 20px;
}

.navbar-custom {
    background-color: #f77a21;
    margin-bottom: 20px;
}