@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    padding-bottom: 20px;
    background-color: #f5f7fb;
}

.body-content {
    padding-left: 5rem;
    padding-right: 5rem;
}

.card-margin {
    margin-top: 20px;
    margin-right: 20px;
}

.bg-navbar {
    background-color: #f77a21;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}