@model Feedback

<h2><strong>Feedback Form</strong></h2>
<br />

<form asp-action="Index" method="post" class="form-horizontal" role="form">

    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <div class="col-md-2">
                <label asp-for="Name" class="control-label"></label>
            </div>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label asp-for="Email" class="control-label"></label>
            </div>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label asp-for="Message" class="control-label"></label>
            </div>
            <div class="col-md-10">
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="ml-3 mr-auto">
                <input type="checkbox" asp-for="ContactMe" />
                <label asp-for="ContactMe"></label>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-primary" value="Send Feedback" />
            </div>
        </div>
    </div>
</form>
